Coursera_1/horse-or-human
Coursera_1/validation-horse-or-human
Coursera_1/horse-or-human.zip
Coursera_1/validation-horse-or-human.zip
Coursera_2/cats_and_dogs_filtered
Coursera_2/horse-or-human
Coursera_2/validation-horse-or-human
Coursera_2/cats_and_dogs_filtered.zip
Coursera_2/horse-or-human.zip
Coursera_2/inception_v3_weights_tf_dim_ordering_tf_kernels_notop.h5
Coursera_2/rps.zip
Coursera_2/rps-test-set.zip
Coursera_2/validation-horse-or-human.zip
Coursera_3/irish-lyrics-eof.txt
Coursera_3/meta.tsv
Coursera_3/vecs.tsv
